apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  POSTGRES_PASSWORD: MTIzNA==      # base64 encoded '1234'
  POSTGRES_USER: cG9zdGdyZXM=     # base64 encoded 'postgres'
  POSTGRES_DB: c2tpbGxzeW5j       # base64 encoded 'skillsync'